*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #181824;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}
.container{
    position: relative;
    margin: auto;
    width: 40%;
}
.todo-head{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-todo{
    display: flex;
    background-color: #25273C;
    width: 100%;
    height: 30px;
    align-items: center;
    padding: 20px 10px 20px 10px;
}

input{
    background-color: transparent;
    border: transparent;
    width: 100%;
    caret-color: #fff;
    color: rgb(186, 183, 183);
    font-weight: bold;
}

button{
    background-color: #181824;
    color: #fff;
    font-size: 12px;
    margin-left: 5px;
    padding: 8px 10px 8px 10px;
    border-radius: 8px;
    border: none;
}

input:focus{
    outline: none;
}

.todo-item {
    margin-top: 10px;
    display: flex;
    background-color: #25273C;
    width: 100%;
    height: 30px;
    align-items: center;
    padding: 20px 10px 20px 10px;
}

@media (max-width: 786px) {
    .container {
        width: 60%;
    }
}
